html, body {
    margin: 0;
    font-family: 'Noto Sans SC', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    position: fixed;
}

.container {
    width: 100%;
    height: 100vh;
    background-color:#a81010;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}


.cabecalho {
    width: 100%;
    height: 100%;
    background-color: #ef1921;
}


.cabecalho img {
    width: auto;
    height: 100%;
    margin: auto;
}


/* CONTROLE GIF */
.desktop {
    display: block;
}

.mobile {
    display: none;
}

@media screen and (max-width:800px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}



.charts {
    width: 100%;
    background-color: #a81010;
    height: 100%;
    font-weight: bold;
    font-size: 1.2em;

}

.form {
    width: 100%;
    height: 100%;
    background-color: white;
}

::-webkit-scrollbar { 
    display: none; 
}

.itens {
    width: auto;
    height: 20%;
    display: grid;
    align-items: center;
    text-align: center;
    background-color: #eb1c24;
    color: white;
}


.itens:hover {
    background-color: #a81010;
    color: white;
}

#mc_embed_signup {
    max-width: 1000px;
    margin: auto;
    padding-top: 100px;
}